.DS_Store
Framework/src/MSODataLib/MSODataLib.xcodeproj/xcuserdata
Sample/DataMarket/crimeData/ODataSampleApp.xcodeproj/project.xcworkspace/xcuserdata
Sample/DataMarket/crimeData/ODataSampleApp.xcodeproj/xcuserdata
Sample/Netflix/netflix/ODataSampleApp.xcodeproj/project.xcworkspace/xcuserdata
Sample/Netflix/netflix/ODataSampleApp.xcodeproj/xcuserdata
Sample/OData.org/ODataOrgDemo/ODataOrgDemo.xcodeproj/project.xcworkspace/xcuserdata
Sample/OData.org/ODataOrgDemo/ODataOrgDemo.xcodeproj/xcuserdata
Sample/tweet_Sample/ODataSampleApp.xcodeproj/project.xcworkspace/xcuserdata
Sample/tweet_Sample/ODataSampleApp.xcodeproj/xcuserdata